altgraph==0.17
fbs==0.9.0
future==0.18.2
git+https://github.com/vial-kb/cython-hidapi@88d8983b3dc65b9ef84238abe3f46004b0ef2fd0#egg=hidapi
keyboard==0.13.5
macholib==1.14
pefile==2019.4.18
PyInstaller==3.4
PyQt5==5.12.3
https://github.com/danthedeckie/simpleeval/archive/refs/tags/0.9.13.zip
sip==5.0.0
pywin32==303; sys_platform == 'win32'
certifi
